@import "tailwindcss";

@font-face {
  font-family: 'Colfax';
  src: url('/fonts/Colfax.woff2') format('woff2');
  font-weight: 400; /* adjust if needed */
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Colfax', sans-serif;
  background: #fffff8;
}
